<!DOCTYPE html>
<html>
<head>
  <!--<link rel="stylesheet"  href="/assets/login_style.css">-->
  
  <title>mentor mate app</title>
</head>
<body>
  <a href="/api/login"><button>student</button></a>
  <a href="/api/mentor/login"><button>mentor</button></a>
  
</body>
</html>