<!DOCTYPE html>
<html>
<head>
  <!--<link rel="stylesheet"  href="/assets/login_style.css">-->
  
  <title>mentor mate app</title>
</head>
<body>
  <div >
    <a href="/api/mentor/home">home</a><br>
    <br>  
    <a href="/api/mentor/user">back</a>
    <% for(let i = 0 ; i < picture_data.length ; i++){
          if(picture_data[i].username == mentor_session){
    %>      
            <p>username: <%= mentor_session %></p>
            <p>picture name: <%= picture_data[i].picture %></p>
            <img src="/assets/upload/<%= picture_data[i].picture %>" style = "height: 70px;width: 70px;">
    <%      break;
          }
        } 
    %>
  
    <form method="post" enctype="multipart/form-data" action="/api/mentor/user/picture">
      <input type="file" name="filename">
      <input type="submit" name="">
    </form>
  </div>
    
</body>
</html>